<div class="container mx-auto">
    <h1 class="text-2xl font-bold mb-4">Orders</h1>
    <table class="min-w-full bg-white">
      <thead>
        <tr>
          <th class="py-2">Customer</th>
          <th class="py-2">Status</th>
          <th class="py-2">Quantity</th>
          <th class="py-2">Location</th>
          <th class="py-2">Date</th>
          <th class="py-2">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let Order of orders">
          <td class="py-2">{{Order.customer.firstname}} {{Order.customer.lastname}}</td>
          <td class="py-2">{{Order.status}}</td>
          <td class="py-2">{{Order.quantity}}</td>
          <td class="py-2">{{Order.location}}</td>
          <td class="py-2">{{Order.date}}</td>
          <td class="py-2">{{Order.total}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  