<div class="m-5">
    <h1 class="font-bold text-2xl m-8">Customers</h1>
    <div class="flex justify-center m-2">
      <table class="w-full min-w-4xl text-md bg-white shadow-md rounded mb-4">
          <tbody>
              <tr class="border-b">
                  <th class="text-left p-5 sm:p-3">Customer</th>
                  <th class="text-left p-5 sm:p-3">Status</th>
                  <th class="text-left p-5 sm:p-3">Quantity</th>
                  <th class="text-left p-5 sm:p-3">Location</th>
                  <th class="text-left p-5 sm:p-3">Date</th>
                  <th class="text-left p-5 sm:p-3">Total</th>
                  <th></th>
              </tr>
              <tr *ngFor="let Order of orders" class="border-b hover:bg-orange-100 bg-gray-100">
                  <td class="p-5 sm:p-3">{{Order.customer.firstname}} {{Order.customer.lastname}}</td>
                  <td class="p-5 sm:p-3">{{Order.status}}</td>
                  <td class="p-5 sm:p-3">{{Order.quantity}}</td>
                  <td class="p-5 sm:p-3">{{Order.location}}</td>
                  <td class="p-5 sm:p-3">{{Order.date}}</td>
                  <td class="p-5 sm:p-3">{{Order.total}}</td>
                  <td class="p-5 sm:p-3 flex justify-end">
                    <button type="button" class="mr-1 sm:mr-3 text-sm bg-blue-500 hover:bg-blue-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline">Save</button>
                    <button type="button" class="text-sm bg-red-500 hover:bg-red-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline">Delete</button>
                  </td>
              </tr>
          </tbody>
      </table>
    </div>
  </div>