<mat-dialog-content (ngSubmit)="onSave()">
  <div class="bg-blue-800 text-white p-5 mb-3 text-md font-semibold rounded-lg"> Edit Order</div>
  <mat-form-field appearance="fill" class="w-full">
    <input matInput placeholder="Full Name" [(ngModel)]="order.customer" name="customer" required>
  </mat-form-field>
  <mat-form-field appearance="fill" class="w-full">
    <mat-select placeholder="Order Status" [(ngModel)]="order.status" name="status" required>
      <mat-option value="pending">Pending</mat-option>
      <mat-option value="shipped">Shipped</mat-option>
      <mat-option value="not_sent">Not Sent</mat-option>
      <mat-option value="order_change">Order Change</mat-option>
      <mat-option value="order_canceled">Order Canceled</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" class="w-full">
    <input matInput type="number" placeholder="Quantity" [(ngModel)]="order.quantity" name="quantity" required>
  </mat-form-field>
  <mat-form-field appearance="fill" class="w-full">
    <input matInput placeholder="Location" [(ngModel)]="order.location" name="location" required>
  </mat-form-field>
  <mat-form-field appearance="fill" class="w-full">
    <input matInput [matDatepicker]="picker" placeholder="Date" [(ngModel)]="order.date" name="date" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="fill" class="w-full">
    <input matInput type="number" placeholder="Total" [(ngModel)]="order.total" name="total" required>
  </mat-form-field>
</mat-dialog-content>
<div mat-dialog-actions>
  <button class="bg-red-500 text-white rounded-lg py-2 px-3 hover:bg-red-400 font-semibold mr-3" (click)="onCancel()">Cancel</button>
  <button class="bg-blue-600 rounded-lg py-2 px-3 text-white hover:bg-blue-500 font-semibold" (click)="onSave()">Save</button>
</div>
